* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}


.header {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}


.navbar {
    background: #444;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    background: #666;
    padding: 6px 12px;
    border-radius: 6px;
}


#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


.main {
    display: grid;
    grid-template-columns: 220px 1fr;
}


.sidebar {
    background: white;
    padding: 15px;
}

.sidebar label {
    display: block;
    margin: 8px 0;
    padding: 8px;
    background: #eee;
    cursor: pointer;
    border-radius: 5px;
}


input[name="filter"] {
    display: none;
}


.products {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}



.product {
    background: white;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.product img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s;
}

.product:hover img {
    transform: scale(1.08);
}

.price {
    font-weight: bold;
    margin: 6px 0;
}

.product button {
    padding: 8px 12px;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 768px) {

    .main {
        grid-template-columns: 1fr;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 55px;
        right: 20px;
        background: #444;
        padding: 10px;
    }

    #menu-toggle:checked ~ .menu {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}