* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

.navbar {
    background-color: #555;
    padding: 10px 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    background: #777;
    border-radius: 6px;
    font-size: 14px;
}

.main {
    display: grid;
    grid-template-columns: 220px 1fr;
}

.sidebar {
    background-color: #f2f2f2;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 10px;
    margin: 10px;
}
.product {
    transition: all 0.3s ease;
}

.product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 992px) {
    .main {
        grid-template-columns: 150px 1fr;
    }

    .products {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 15px;
    }

    .navbar a {
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 10px;
        font-size: 18px;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
    }

    .navbar a {
        margin: 5px 10px;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .sidebar {
        order: 2;
    }

    .products {
        order: 1;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }

    .product img {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .products {
        grid-template-columns: 1fr;
    }

    .product img {
        height: 180px;
    }

    .footer {
        font-size: 14px;
    }
}
.product:hover {
    transform: translate(-5px);
    box-shadow: 0px 8px 18px rgba(0,0,0,0.15);
}

.sidebar:hover{
    transform: translate(-5px);
    box-shadow: 0px 8px 18px rgba(0,0,0,0.15);
}